@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

//reset css

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

// styles

@mixin flex-display($display, $align-items, $justify-content) {
    display: $display;
    align-items: $align-items;
    justify-content: $justify-content;
}

$bg-dark: #232326;
$font: #D7D7DB;
$img-bg: #bc8aea;
$menu-hover: #2f2f2fc1;
$divider-color: #313136;

body {
    line-height: 1;
    padding: 0 100px;
    background-color: $bg-dark;
    font-family: 'Catamaran', sans-serif;
    display: flex;
}

header{
    margin-top: 75px;
    height: 83vh;
    width: 23%;
    color: $font;
    position: relative;

    .logo{
        padding: 10px 15px;
        @include flex-display(flex, center, start);

        
        img{
            width: 70px;
            border-radius: 50%;
            background-color: $img-bg;
        }

        .title{
            margin-left: 20px;

            h3{
                font-size: 1.2rem;
                font-weight: bold;
            }

            p{
                font-size: .8rem;
                margin: 5px 0;
            }
        }
    }

    nav{
        margin-top: 25px;
        margin-left: 15px;

        ul{
          li{
            padding: 10px;
            margin: 3px 0;
            a{
                font-size: 1rem;
                color: $font;
                text-decoration: none;
                padding: 3px 8px;
                border-radius: 7px;

                &:hover{
                    color: #fff;
                    background-color:  $menu-hover;
                }
            }

            .active{
                color: #fff;
                background-color:  $menu-hover;
            }
          }
        }
    }

    .signature{
        position: absolute;
        bottom: 10px;
        left: 15px;
        font-size: .9rem;
        line-height: 1.5;
        background-color:  $menu-hover;
        padding: 7px 10px;
        border-radius: 5px;
        text-align: center;
    }
}

main{
    margin-top: 30px;
    margin-left: 15px;
    width: 55vw;

    .buttons{
        padding: 5px;
        display: flex;
        justify-content: space-between;
        button{
            background-color: transparent;
            border: 0;
            font-size: 1.5rem;
            cursor: pointer;
        }

        .font-icons{
            margin-left: 30px;
            fill: $font;
        }
    }

    .container{
        margin-top: 50px;
        .content{
            margin: 50px 0;
            h2{
                font-size: 1.3rem;
                color: #fafafa;
                margin-bottom: 10px;
            }
            span{
                color: #71717A;
               
            }
        }
    }
}

.divider{
    width: 100%;
    height: 3px;
    background-color: $divider-color;
}